input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Bỏ nút tăng giảm cho Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* CSS cho mũi tên và hover cho nút chỉnh sửa hàng loạt */
.input-hover {
    position: relative;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease;
}

/* Hover vào nút thì viền chuyển sang màu primary */
.input-hover:hover {
    border-color: #007bff;
    /* Màu primary */
    cursor: pointer;
}

/* Thêm mũi tên (icon) bên cạnh nút */

/* Khi dropdown được mở (khi nhấn vào nút) thì mũi tên sẽ xoay lên */

/* Style cho phần dropdown nội dung */
.dropdown-content {
    display: none;
    /* Ẩn mặc định */
    width: 100%;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 10px;
}

/* Hiển thị khi nút được kích hoạt */
.dropdown-content.show {
    display: block;
}

/* CSS để loại bỏ viền chỉ cho nút delete-variant */
button.delete-variant {
    border: none;
    /* Xóa viền */
    background: none;
    /* Loại bỏ nền nếu cần */
    padding: 0;
    /* Loại bỏ padding nếu cần */
    cursor: pointer;
    /* Thêm biểu tượng con trỏ nếu muốn */
}

button.delete-variant:focus {
    outline: none;
    /* Xóa viền khi focus vào nút */
}

button.button-css {
    color: #007bff;
}

button.button-css:hover {
    background-color: #eef0f7;
    color: #007bff;
}
.custom-file {
    position: relative;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
}

.custom-file input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.custom-file-label::after {
    content: "Chọn ảnh";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #6c757d;
}

.image-preview img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.image-preview .img-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.image-preview .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 10px;
}
